--- 
http_interactions: 
- request: 
    method: get
    uri: http://app.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/rides/7516475">redirected</a>.</body></html>
  recorded_at: Sat, 12 May 2012 20:54:59 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"cc920fd478becaffa246f36c9a31715a\""
    body: 
      encoding: US-ASCII
      string: "{\"ride\":{\"id\":7516475,\"startDate\":\"2012-04-28T14:39:23Z\",\"startDateLocal\":\"2012-04-28T07:39:23Z\",\"timeZoneOffset\":-28800,\"elapsedTime\":16712,\"movingTime\":12747,\"distance\":75848.7,\"averageSpeed\":5.950317721816898,\"averageWatts\":116.736,\"maximumSpeed\":59587.2,\"elevationGain\":1094.2,\"location\":\"San Francisco, CA\",\"name\":\"Tam - Reverse Alpine\",\"bike\":{\"id\":4060,\"name\":\"IF\"},\"athlete\":{\"id\":4693,\"name\":\"Cameron Ross\",\"username\":\"cross\"},\"description\":\"\",\"commute\":false,\"trainer\":false}}"
  recorded_at: Sat, 12 May 2012 20:55:00 GMT
recorded_with: VCR 2.1.1
