--- 
http_interactions: 
- request: 
    method: get
    uri: http://app.strava.com/api/v1/clubs/15/members
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/clubs/15/members
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/clubs/15/members">redirected</a>.</body></html>
  recorded_at: Sun, 13 May 2012 00:42:24 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/clubs/15/members
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"882862e632f087c1922b2365548d51d9\""
    body: 
      encoding: US-ASCII
      string: "{\"club\":{\"id\":15,\"name\":\"Mission Cycling\"},\"members\":[{\"id\":4693,\"name\":\"Cameron Ross\"},{\"id\":3879,\"name\":\"Scott Cronin\"},{\"id\":1827,\"name\":\"Michael Lehane\"},{\"id\":73709,\"name\":\"Jesse Gibbs\"},{\"id\":2921,\"name\":\"Ken Olofsen\"},{\"id\":4819,\"name\":\"Ron Williams\"},{\"id\":10161,\"name\":\"Tad Costerison\"},{\"id\":5583,\"name\":\"Scott Palkoski\"},{\"id\":3897,\"name\":\"Steven Oliver\"},{\"id\":72506,\"name\":\"Mike Betts\"},{\"id\":2061,\"name\":\"Bruce Prescott\"},{\"id\":195585,\"name\":\"Jamie Pantuso\"},{\"id\":[...]
