--- 
http_interactions: 
- request: 
    method: get
    uri: http://app.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01%2000:00:00%20-0700
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01+00%3A00%3A00+-0700
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/rides?athleteId=4693&amp;offset=0&amp;startDate=2012-04-01+00%3A00%3A00+-0700">redirected</a>.</body></html>
  recorded_at: Sat, 12 May 2012 20:54:38 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01%2000:00:00%20-0700
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"d5008014d0b1349a970fdf7733b5caec\""
    body: 
      encoding: US-ASCII
      string: "{\"rides\":[{\"id\":7516475,\"name\":\"Tam - Reverse Alpine\"},{\"id\":7131449,\"name\":\"Headlands - Nicasio\"},{\"id\":6737804,\"name\":\"Tam - Reverse Alpine Dam\"},{\"id\":6362515,\"name\":\"Pt. Reyes\"},{\"id\":6257550,\"name\":\"SB Lunch Loop (abbr)\"},{\"id\":6049082,\"name\":\"San Bruno Loop\"}]}"
  recorded_at: Sat, 12 May 2012 20:54:38 GMT
- request: 
    method: get
    uri: http://app.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/rides/7516475">redirected</a>.</body></html>
  recorded_at: Sat, 12 May 2012 20:54:38 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/rides/7516475
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"cc920fd478becaffa246f36c9a31715a\""
    body: 
      encoding: US-ASCII
      string: "{\"ride\":{\"id\":7516475,\"startDate\":\"2012-04-28T14:39:23Z\",\"startDateLocal\":\"2012-04-28T07:39:23Z\",\"timeZoneOffset\":-28800,\"elapsedTime\":16712,\"movingTime\":12747,\"distance\":75848.7,\"averageSpeed\":5.950317721816898,\"averageWatts\":116.736,\"maximumSpeed\":59587.2,\"elevationGain\":1094.2,\"location\":\"San Francisco, CA\",\"name\":\"Tam - Reverse Alpine\",\"bike\":{\"id\":4060,\"name\":\"IF\"},\"athlete\":{\"id\":4693,\"name\":\"Cameron Ross\",\"username\":\"cross\"},\"description\":\"\",\"commute\":false,\"trainer\":false}}"
  recorded_at: Sat, 12 May 2012 20:54:38 GMT
[...]
- request: 
    method: get
    uri: http://www.strava.com/api/v1/rides/6049082
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"187a736daa6ee4cbff47a76ba5275445\""
    body: 
      encoding: US-ASCII
      string: "{\"ride\":{\"id\":6049082,\"startDate\":\"2012-04-01T17:04:45Z\",\"startDateLocal\":\"2012-04-01T10:04:45Z\",\"timeZoneOffset\":-28800,\"elapsedTime\":8065,\"movingTime\":7402,\"distance\":47262.9,\"averageSpeed\":6.385152661442853,\"averageWatts\":135.255,\"maximumSpeed\":65349.72,\"elevationGain\":658.4,\"location\":\"San Francisco, CA\",\"name\":\"San Bruno Loop\",\"bike\":{\"id\":4060,\"name\":\"IF\"},\"athlete\":{\"id\":4693,\"name\":\"Cameron Ross\",\"username\":\"cross\"},\"description\":\"\",\"commute\":false,\"trainer\":false}}"
  recorded_at: Sat, 12 May 2012 20:54:41 GMT
recorded_with: VCR 2.1.1
