--- 
http_interactions: 
- request: 
    method: get
    uri: http://app.strava.com/api/v1/clubs?name=mission%20cycling
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/clubs?name=mission+cycling
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/clubs?name=mission+cycling">redirected</a>.</body></html>
  recorded_at: Sun, 13 May 2012 00:21:26 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/clubs?name=mission%20cycling
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"5ef108ee76b6c521f151267dd2ff3fba\""
    body: 
      encoding: US-ASCII
      string: "{\"clubs\":[{\"id\":15,\"name\":\"Mission Cycling\"}]}"
  recorded_at: Sun, 13 May 2012 00:21:27 GMT
recorded_with: VCR 2.1.1
