--- 
http_interactions: 
- request: 
    method: get
    uri: http://app.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01%2000:00:00%20-0700
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "302"
      Location: 
      - http://www.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01+00%3A00%3A00+-0700
    body: 
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://www.strava.com/api/v1/rides?athleteId=4693&amp;offset=0&amp;startDate=2012-04-01+00%3A00%3A00+-0700">redirected</a>.</body></html>
  recorded_at: Sat, 12 May 2012 20:54:37 GMT
- request: 
    method: get
    uri: http://www.strava.com/api/v1/rides?athleteId=4693&offset=0&startDate=2012-04-01%2000:00:00%20-0700
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"d5008014d0b1349a970fdf7733b5caec\""
    body: 
      encoding: US-ASCII
      string: "{\"rides\":[{\"id\":7516475,\"name\":\"Tam - Reverse Alpine\"},{\"id\":7131449,\"name\":\"Headlands - Nicasio\"},{\"id\":6737804,\"name\":\"Tam - Reverse Alpine Dam\"},{\"id\":6362515,\"name\":\"Pt. Reyes\"},{\"id\":6257550,\"name\":\"SB Lunch Loop (abbr)\"},{\"id\":6049082,\"name\":\"San Bruno Loop\"}]}"
  recorded_at: Sat, 12 May 2012 20:54:38 GMT
recorded_with: VCR 2.1.1
